# RCM Bench Check

In [3]:
import EcoFOCIpy.io.rcm_parser as rcm_parser #<- instrument specific

In [6]:
sample_data_dir = '/Users/bell/Programs/EcoFOCIpy/'
user_data_dir = '/Users/bell/Downloads/'

In [7]:
###############################################################
# edit to point to {instrument sepcific} raw datafile 
datafile = user_data_dir+'rcm_728_test_run.txt'
instrument = 'RCM9 728'
mooring_meta_file = user_data_dir+'logs/23BS-8A.yaml'
inst_meta_file = sample_data_dir+'staticdata/instr_metaconfig/rcm_cf.yaml'
institution_meta_file = sample_data_dir+'staticdata/institutional_meta_example.yaml' #include uaf?
inst_shortname = 'an9'
###############################################################

#init and load data
rcm_wop = rcm_parser.rcm()
rcm_wop_data = rcm_wop.parse(filename=datafile,time_format=1,datetime_index=True) 
rcm_wop_data

,sample,ident,speed_engr,dir_engr,temp_engr,cond_engr,press_engr,chan7,chan8
date_time,,,,,,,,,
2025-03-14 23:29:00,0,7,25,3,14,23,29,NaN,NaN
2025-03-14 23:29:00,1,371,0,0,973,0,37,559.0,NaN
2025-03-15 00:29:00,2,7,25,3,15,0,29,NaN,NaN
2025-03-15 00:29:00,3,371,0,0,964,0,37,549.0,NaN
2025-03-15 01:29:00,4,371,0,0,954,0,37,552.0,NaN
...,...,...,...,...,...,...,...,...,...
2025-03-17 16:29:00,69,371,0,0,905,0,38,582.0,NaN
2025-03-17 17:29:00,70,371,0,0,906,0,38,582.0,NaN
2025-03-17 18:29:00,71,371,0,0,918,0,38,581.0,NaN
2025-03-17 19:29:00,72,371,0,0,931,0,38,577.0,NaN
2025-03-17 20:29:00,73,371,0,0,942,0,38,573.0,NaN

In [8]:
#oxygen
rcm_wop.engr2sci_oxy(channel='chan7')
rcm_wop.engr2sci_temp(coefA=-2.743e0,coefB=2.407e-2,coefC=-2.238e-06,coefD=-2.056e-9) #low
rcm_wop.engr2sci_pres(coefA=-1.652e2,coefB=7.003e-2,coefC=1.274e-4,equationType='low',units='kPa') #units are MPA
#cond/turb not usually used so not implimented

In [10]:
rcm_wop.get_data()

,sample,ident,speed_engr,dir_engr,temp_engr,cond_engr,press_engr,chan7,chan8,oxy_conc,oxy_percentsat,temperature,pressure
date_time,,,,,,,,,,,,,
2025-03-14 23:29:00,0,7,25,3,14,23,29,NaN,NaN,NaN,NaN,-2.406464,-26.306199
2025-03-14 23:29:00,1,371,0,0,973,0,37,559.0,NaN,272.9597,81.8935,16.664410,-26.243448
2025-03-15 00:29:00,2,7,25,3,15,0,29,NaN,NaN,NaN,NaN,-2.382460,-26.306199
2025-03-15 00:29:00,3,371,0,0,964,0,37,549.0,NaN,268.0767,80.4285,16.538866,-26.243448
2025-03-15 01:29:00,4,371,0,0,954,0,37,552.0,NaN,269.5416,80.8680,16.397817,-26.243448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-03-17 16:29:00,69,371,0,0,905,0,38,582.0,NaN,284.1906,85.2630,15.683429,-26.235489
2025-03-17 17:29:00,70,371,0,0,906,0,38,582.0,NaN,284.1906,85.2630,15.698388,-26.235489
2025-03-17 18:29:00,71,371,0,0,918,0,38,581.0,NaN,283.7023,85.1165,15.876680,-26.235489
2025-03-17 19:29:00,72,371,0,0,931,0,38,577.0,NaN,281.7491,84.5305,16.067260,-26.235489
2025-03-17 20:29:00,73,371,0,0,942,0,38,573.0,NaN,279.7959,83.9445,16.226415,-26.235489