# Plastic Puf - csv QC

Just modify and resave csv files in place if known

In [70]:
import pandas as pd
import numpy as np

In [67]:
fpath = '/Users/bell/ecoraid/ITAE/Popup_Buoys/2020/initial_archive/300434063862560/'
file = '2560_bottom_data.csv'
# file = '4860_ice_data.csv'
# file = '4860_sst_data.csv'

In [68]:
df = pd.read_csv(fpath+file, index_col='Unnamed: 0')
df

,time,pressure,fr_temp,fr_temp_ADC,sr_temp,sr_temp_ADC,temp_ref,par,fluor,tilt,datetime,depth_m,id,dep_lat,dep_lon
1,0,0.005493,14.478122,13782,14.715242,13743,8521,0.018315,0,83,2020-10-01 00:00:00,0.054554,2560,55.2328,-166.133
2,3600,0.005188,14.470322,13787,14.734407,13731,8521,0.000000,0,82,2020-10-01 01:00:00,0.051523,2560,55.2328,-166.133
3,7200,0.004272,14.408037,13827,14.700880,13752,8521,0.000000,0,82,2020-10-01 02:00:00,0.042431,2560,55.2328,-166.133
4,10800,0.004272,14.341306,13870,14.649901,13784,8521,0.000000,0,83,2020-10-01 03:00:00,0.042431,2560,55.2328,-166.133
5,14400,0.003967,14.245497,13932,14.545181,13850,8521,0.000000,0,82,2020-10-01 04:00:00,0.039400,2560,55.2328,-166.133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3542,12747600,12.019958,4.684073,22024,4.531583,22185,8520,0.000000,0,3,2021-02-25 13:00:00,119.372259,2560,55.2328,-166.133
3543,12751200,12.020874,4.684995,22023,4.531583,22185,8520,0.000000,0,3,2021-02-25 14:00:00,119.381351,2560,55.2328,-166.133
3544,12754800,12.019653,4.688683,22019,4.535300,22181,8520,0.000000,0,4,2021-02-25 15:00:00,119.369228,2560,55.2328,-166.133
3545,12758400,12.020569,4.696982,22010,4.544596,22171,8520,0.000000,0,3,2021-02-25 16:00:00,119.378320,2560,55.2328,-166.133
3546,12762000,12.020569,4.706209,22000,4.553896,22161,8520,0.000000,0,3,2021-02-25 17:00:00,119.378320,2560,55.2328,-166.133

In [71]:
df['pressure'] = df['pressure'] * 0 + np.nan
df['depth_m'] = df['depth_m'] * 0 + np.nan

In [73]:
df.to_csv(fpath+file)

In [72]:
df

,time,pressure,fr_temp,fr_temp_ADC,sr_temp,sr_temp_ADC,temp_ref,par,fluor,tilt,datetime,depth_m,id,dep_lat,dep_lon
1,0,NaN,14.478122,13782,14.715242,13743,8521,0.018315,0,83,2020-10-01 00:00:00,NaN,2560,55.2328,-166.133
2,3600,NaN,14.470322,13787,14.734407,13731,8521,0.000000,0,82,2020-10-01 01:00:00,NaN,2560,55.2328,-166.133
3,7200,NaN,14.408037,13827,14.700880,13752,8521,0.000000,0,82,2020-10-01 02:00:00,NaN,2560,55.2328,-166.133
4,10800,NaN,14.341306,13870,14.649901,13784,8521,0.000000,0,83,2020-10-01 03:00:00,NaN,2560,55.2328,-166.133
5,14400,NaN,14.245497,13932,14.545181,13850,8521,0.000000,0,82,2020-10-01 04:00:00,NaN,2560,55.2328,-166.133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3542,12747600,NaN,4.684073,22024,4.531583,22185,8520,0.000000,0,3,2021-02-25 13:00:00,NaN,2560,55.2328,-166.133
3543,12751200,NaN,4.684995,22023,4.531583,22185,8520,0.000000,0,3,2021-02-25 14:00:00,NaN,2560,55.2328,-166.133
3544,12754800,NaN,4.688683,22019,4.535300,22181,8520,0.000000,0,4,2021-02-25 15:00:00,NaN,2560,55.2328,-166.133
3545,12758400,NaN,4.696982,22010,4.544596,22171,8520,0.000000,0,3,2021-02-25 16:00:00,NaN,2560,55.2328,-166.133
3546,12762000,NaN,4.706209,22000,4.553896,22161,8520,0.000000,0,3,2021-02-25 17:00:00,NaN,2560,55.2328,-166.133